DATABASE_URL=postgresql+psycopg://efootball:efootball@localhost:5432/efootball

BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

ADMIN_TELEGRAM_IDS=1342256845

WEBAPP_URL=https://your-domain.com

TIMEZONE=Asia/Tashkent

RESULT_DEADLINE_HOUR=23
RESULT_DEADLINE_MINUTE=30
